.hi {
  text-align: center;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 200%;
}

.small {
  text-align: center;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 130%;
}

.columnwrap {
  width: 100%;
  height: 30vh;
  margin-top: 4%;
  margin-left: 1%;
}

.column {
  width: 30%;
  height: 30vh;
  display: inline-block;
  margin-left: 2%;

}

.pichome {
  width: 100%;
  height: 30vh;
  opacity: .7;
  box-shadow: 8px 8px 2px rgba(38,37,38, 0.4);
}

.toolswrap {
  width: 100%;
  height: 40vh;
  margin-top: 4%;
}


.html {
  display: inline-block;
  margin-left: 6.5%;
  font-size: 200%;
}

.toolsused {
  text-align: center;
  margin-top: 4%;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 200%;
  text-decoration: underline;
}

.fa-html5 {
  margin-left: 10%;
  font-size: 850%;
  color: #e34f26;
}

.fa-html5:hover {
  color: #EBAF00;
}

.css {
  display: inline-block;
  margin-left: 21.5%;
  text-align: center;
}

.js {
  display: inline-block;
  text-align: center;
  margin-left: 16.5%;
}

.fa-js-square {
  font-size: 1650%;
  color: #f7df1e;
}

.fa-js-square:hover {
  color: #FFFF5C;
}

.fa-css3 {
  font-size: 1650%;
}

.fa-css3:hover {
  color: #8773FF;
}

.hT {
  font-family: 'Nunito Sans', sans-serif;
  margin-left: 40%;
  color: #e34f26;
  font-size: 95%;
}

.hT:hover {
  color: #EBAF00;
}

.cT {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 200%;
}

.cT:hover {
  color: #8773FF;
}

.jT {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 200%;
  color: #f7df1e;
}

.jT:hover {
  color: #FFFF5C;
}

.fa-react {
  font-size: 1300%;
  color: #00d8ff;
  display: inline-block;
  margin-left: 5%;
  margin-top: 1%;
}

.fa-react:hover {
  color: #B7F0DD;
}

.framework {
  width: 99%;
  height: 30vh;
  margin-top: 6%;
  background-color: rgba(0,216,255, .125);
  border-radius: 8px;
  -webkit-box-shadow: 0 0 10px rgba(38,37,38, 0.4);
  box-shadow: 0 0 30px rgba(38,37,38, 0.4);
  margin-left: .5%;
}

.framewords {
  text-align: center;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 200%;
  margin-top: 8%;
  text-decoration: underline;
}

.reactwords {
  font-family: 'Nunito Sans', sans-serif;
  display: inline-block;
  width: 50%;
  float: right;
  margin-right: 20%;
  margin-top: 3%;
  font-size: 170%;
  font-style: italic;
  text-align: center;
}

.aR:hover {
  color: #B7B7DD;
}

.platform {
  text-align: center;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 200%;
  margin-top: 6%;
  text-decoration: underline;
}

.node {
  margin-top: 6%;
  width: 99%;
  height: 30vh;
  background-color: rgba(33,87,50, .3);
  border-radius: 8px;
  -webkit-box-shadow: 0 0 10px rgba(38,37,38, 0.4);
  box-shadow: 0 0 30px rgba(38,37,38, 0.4);
  margin-left: .5%;
}

.fa-node {
  font-size: 1300%;
  display: inline-block;
  float: right;
  color: #333333;
  margin-right: 6%;
  margin-top: 1%;
}

.fa-node:hover {
  color: #44883e;
}

.nodewords {
  display: inline-block;
  width: 50%;
  float: left;
  font-family: 'Nunito Sans', sans-serif;
  margin-left: 16%;
  margin-top: 3%;
  text-align: center;
  font-style: italic;
}

.qN {
  color: #215732;
  font-size: 160%;
  font-style: italic;
}

.qN:hover {
  color: #6cc24a;
}

.ref {
  text-align: center;
  margin-top: 5%;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 200%;
  margin-bottom: 6%;
  text-decoration: underline;
}

.containerR {
  margin-top: 4%;
  width: 99%;
  margin-left: .5%;
  height: 38vh;
  background-color: rgba(252,73,0, .125);
  border-radius: 8px;
  -webkit-box-shadow: 0 0 10px rgba(38,37,38, 0.4);
  box-shadow: 0 0 30px rgba(38,37,38, 0.4);
}

.quoterefs {
  margin-top: 3%;
  display: inline-block;
  font-size: 140%;
  font-style: italic;
}

.aTagR {
  text-decoration: none;
}

.cFQ {
  width: 50%;
  margin-top: 1%;
  font-family: 'Nunito Sans', sans-serif;
  float: right;
  text-align: center;
  color: #D66832;
  display: inline-block;
  margin-right: 10%;
}

.fa-code {
  float: left;
  display: inline-block;
  font-size: 1300%;
  margin-top: 4%;
  margin-left: 6%;
  color: #C93A15;
}

.fa-code:hover {
  color: rgba(255, 37, 15, .2);
}

.cFQ:hover {
  color: rgba(255, 37, 15, .2);
}

.john {
  margin-top: 2%;
  color: black;
  font-size: 140%;
}

.david {
  margin-top: 2%;
  color: black;
  font-size: 140%;
}

.containR2 {
  margin-top: 4%;
  width: 99%;
  margin-left: .5%;
  height: 34vh;
  background-color: rgba(214,176,63, 0.2);
  border-radius: 8px;
  -webkit-box-shadow: 0 0 10px rgba(38,37,38, 0.4);
  box-shadow: 0 0 30px rgba(38,37,38, 0.4);
}

.cFQ2 {
  width: 50%;
  margin-top: 2%;
  font-family: 'Nunito Sans', sans-serif;
  margin-left: 9%;
  float: left;
  text-align: center;
  color: #A68910;
  display: inline-block;
}

.cFQ2:hover {
  color: #C9A713;
}

.fa-paint-roller {
  display: inline-block;
  float: right;
  font-size: 1300%;
  margin-top: 3%;
  margin-right: 12%;
  color: #3C85DE;
}

.fa-paint-roller:hover {
  color: #45D0FF;
}

.quoterefs2 {
  font-size: 140%;
  font-style: italic;
}

@media only screen and (max-width: 500px){
  .fa-html5 {
    margin-left: 10%;
    font-size: 250%;
    color: #e34f26;
  }
}
