.hi {
  text-align: center;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 2em;
}

.small {
  text-align: center;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1.3em;
}

.columnwrap {
  width: 100%;
  height: 30vh;
  margin-top: 4%;
}

.column {
  width: 30%;
  height: 30vh;
  display: inline-block;
  margin-left: 2%;

}

.pichome {
  width: 100%;
  height: 30vh;
  opacity: .7;
  box-shadow: 8px 8px 2px rgba(38,37,38, 0.4);
}

.toolswrap {
  width: 100%;
  height: 40vh;
  margin-top: 4%;
}

.framework {
  width: 99%;
  height: 30vh;
  margin-top: 10%;
  background-color: rgba(0,216,255, .125);
  border-radius: 8px;
  -webkit-box-shadow: 0 0 10px rgba(38,37,38, 0.4);
  box-shadow: 0 0 30px rgba(38,37,38, 0.4);
  margin-left: .5%;
}

.html {
  font-size: 2em;
  display: inline-block;
  margin-left: 6.5%;
}

.toolsused {
  text-align: center;
  margin-top: 4%;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 2em;
}

.fa-html5 {
  margin-left: 10%;
  font-size: 10em;
  color: #e34f26;
}

.fa-html5:hover {
  color: #EBAF00;
}

.css {
  display: inline-block;
  margin-left: 21%;
  text-align: center;
}

.js {
  display: inline-block;
  text-align: center;
  margin-left: 18%;
}

.fa-js-square {
  font-size: 20em;
  color: #f7df1e;
}

.fa-js-square:hover {
  color: #FFFF5C;
}

.fa-css3 {
  font-size: 20em;
}

.fa-css3:hover {
  color: #8773FF;
}

.hT {
  font-family: 'Nunito Sans', sans-serif;
  margin-left: 40%;
  color: #e34f26;
}

.hT:hover {
  color: #EBAF00;
}

.cT {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 2em;
}

.cT:hover {
  color: #8773FF;
}

.jT {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 2em;
  color: #f7df1e;
}

.jT:hover {
  color: #FFFF5C;
}

.fa-react {
  font-size: 15em;
  margin-top: 1%;
  color: #00d8ff;
  display: inline-block;
  margin-left: 5%;
}

.framewords {
  text-align: center;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 2em;
}

.reactwords {
  font-family: 'Nunito Sans', sans-serif;
  display: inline-block;
  width: 50%;
  float: right;
  margin-right: 20%;
  margin-top: 5%;
  font-size: 1.7em;
  font-style: italic;
}
